/* admin */
.img-admin {
    margin-top: 70px; 
    text-align: center;
}
.admin .img {
    width: 400px;
}
.admin .chu-thich-anh {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.admin .paragraph-admin {
    text-align: justify;
    margin: 5px 450px;
    margin-bottom: 80px;
    line-height: 25px;
}

/* ///////////////// */
/* Responsive mobile */
@media (max-width: 740px) {
    .admin .img{
        width: 350px;
    }
    .admin {
        margin-top: 170px;    
    }
    .admin .paragraph-admin {
        margin: 5px 30px;
        margin-bottom: 80px;
    }
}